.affix {
    top: 0;
    width: 100%;
}

.affix-top {
    width: 100%;
}

.affix-bottom {
    position: absolute;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.navZ {
    z-index:99999;
}

.affix + .container-fluid {
    padding-top: 70px;
}